body{
    background-color:  hsl(229, 57%, 11%);
    background-image: url(./images/bg-desktop.png);
    background-size: 110%;
    background-repeat: no-repeat ;
    background-position-y: 500px;

}
.box1 {
    width: 200px;
    background: hsl(228, 56%, 26%);
    padding: 25px 0 25px 25px;
    border-radius: 5px 60px 5px 5px;
}
.box2 p {
    
        color: hsl(230deg 33% 62%);
        margin: 18px 0 0 40px;
        padding-top: 9px;
}

.icos {
    margin-top: 15px;
}
.ic {
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    padding: 13px;
    width: 20px;
    margin-right: 7px;
    border-radius: 10px;
}
section.box2 {
    background-color: #1d2c67;
    height: 120px;
    width: 750px;
    margin-top: 37px;
    margin-left: 37px;
    border-radius: 20px;

}
.allbox {
  
    display: flex;
    align-items: center;
    margin-top: 400px;
    justify-content: center;
}
.progress-bar{

    width: 90%;

    height: 20px;

    border-radius: 20px;

    background: #220059;

    display: flex;

    justify-content: start;

    align-items: center;
    margin-left: 5%;
    margin-top: 12px;
    

    }
    .progress-bar::before {
        content: '0GB';
        margin-top: 41px;
        color: white;
        font-size: small;
        position: absolute;
    }
    .progress-bar::after {
        content: '1000GB';
        margin-top: 41px;
        color: white;
        font-size: small;
        position: absolute;
        right: 26%;
    }
        .progress{

    height: 14px;

    margin: 3px;

    width: 70%;

    border-radius: 10px;

    background-image: linear-gradient(45deg, #fe9f98, #fb4d92);

    text-align: right;

    display: flex;

    align-items: center;

    justify-content: flex-end;
        }
        .btn{

    height: 11px;

    width: 11px;

    background: #ffffff;

    margin-right: 1px;

    border-radius: 11px;

    box-shadow: #0000004d 0px 1px 3px;
        }
    
    .info {
        width: 195px;
        height: 70px;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        right: 23%;
        top: 35%;
        font-size: 20px;
        margin: 48px;
    }
    strong{
        margin-right: 10px;
        font-size: 30px;
    }
    .triangle{
          
            width: 0;
            height: 0;
            border-left: 40px solid transparent;
            border-right: 0px solid transparent;
            border-top: 40px solid white;
            margin-left: 155px;
}
.info p{
            margin-top: 10px;
            margin-left: 16px;
            color: black;
}

          
@media(max-width:800px){
.allbox {
        display: flex;
        flex-direction:column; 
                }
    .triangle{
          
           display: none;
}
section.box2 {
    width: 254px;
    margin-left: -34px;
    padding-bottom: 20px;
}
.info {
    width: 160px;
    position: absolute;
   left: 11%;
    top: 64%;
 
}
body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position-y: 78px;
}
.box1 {
    width: 221px;
    margin-left: -41px;
    margin-top: -153px;
}
.progress-bar::after {
    content: '1000GB';
    margin-top: 41px;
    color: white;
    font-size: small;
    position: absolute;
    right: 23%;

}
.box2 p {
    color: hsl(230deg 33% 62%);
    margin: 21px -38px 4px 5px;
    padding-top: 8px;
}

}